body {
    margin: 0;
    background: black;

}

#main{
    background:  #1F2937;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height : 80vh;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

p{
    font-size : 12px;
    font-weight: 300;
    color: white;
}

#input-el{
    display: flex;
}

label{
    color : white;
    font-size : 8px;
    font-weight: 300;
}

/* input {
    flex : 1
} */
span{
    margin-bottom: 0px;
    padding-bottom : 0px;

}